* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

html,
body {
    background-color: black;
}

.front {
    background: url(images/Cal.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px; 
}

.cta-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}


main {
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}

/* Alle anchor tags (hyperlinks), het h1 element en alle p
elementen hebben de tekst kleur wit en hebben als font Arial */
h1,
p,
#slogan {
    color: white;
    font-family: Adobe garemond pro;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav li {
    margin: 0 10px;
    list-style: none;
}


a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;

}


.navbar-nav {
    display: flex;
    justify-content: center;
}

.hoverable {
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.hoverable:before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center,
        ellipse,
        rgba(255, 255, 255, 0.35) 0%,
        rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center,
        rgba(255, 255, 255, 0.35) 0%,
        rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
    transform: translateY(-5px);
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
    opacity: 1;
    transform: translateY(-5px);
}

@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounce {
    animation-name: bounce-animation;
    animation-duration: 2s;
}


#topimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
}

.content {
    overflow: hidden;
}

img#carlos {
    float: right;
    margin: 0 0 25px 55px;
    max-width: 40%;
}

#tk {
    padding-top: 20px;
}

header {
    display: flex;
    justify-content: center;
}



a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;

}


/* css gsap */
body {
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  color: #e51f21;
}

.wrapper {
  max-width: 100%;
}
.wrapper .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #131113;
  z-index: 1;
}
.wrapper .overlay__intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .overlay__intro .para {
  color: #e9dad5;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.9em;
}
.wrapper .overlay__intro .bg__text {
  font-family: "Helvetica";
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  font-size: 4.5em;
  opacity: 0.4;
  -webkit-text-stroke: 0.5px rgba(233, 218, 213, 0.2);
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 20px rgba(233, 218, 213, 0.04);
}
.wrapper .overlay__intro .rect {
  background-color: #e9dad5;
  width: 100vw;
  height: 1px;
  position: absolute;
}
.wrapper header {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper header .header__inner {
  z-index: 3;
}
.wrapper header .header__inner .header__para {
  position: absolute;
  bottom: 50px;
  font-size: 14px;
  font-weight: 100;
  color: rgba(19, 17, 19, 0.5);
}
.wrapper header .header__inner .header__para span {
  color: #f0353c;
  font-weight: 400;
  cursor: pointer;
}

body.no-scroll . {
  display: none;
}





@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    font-family: Open Sans;
}

section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.front-text {
    margin-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 60%;
}

.footer-distributed {
    background: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

::selection {
  color: white;
  background: #e51f21;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    @media screen and (max-width: 768px) {

        /* verberg de navigatie-items */
        nav ul {
            display: none;
        }

        /* laat de hamburger zien */
        .hamburger {
            display: block;
        }

        /* stijl voor de navigatie-items in het hamburger-menu */
        .navi.responsive {
            position: relative;
            top: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #333;
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s ease-out;
            max-height: 0;
        }

        /* laat de navigatie-items zien wanneer het hamburger-menu wordt geactiveerd */
        .navi.responsive a {
            display: block;
            padding: 14px 16px;
            color: #fff;
            font-size: 16px;
            font-family: Adobe garemond pro;
        }

        /* stijl voor de actieve link in het hamburger-menu */
        .navi.responsive a.active {
            background-color: rgba(0, 0, 0, 0.2);
        }

        /* animatie voor het tonen van de navigatie-items in het hamburger-menu */
        .navi.responsive {
            max-height: 500px;
        }
    }

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}