* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

html,
body {
    background-color: #ffe6d1;
}

/* Alle anchor tags (hyperlinks), het h1 element en alle p
elementen hebben de tekst kleur wit en hebben als font Arial */
h1,
p,
#slogan {
    color: Black;
    font-family: Adobe garemond pro;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: Adobe garemond pro;
    padding: 14px 16px;
}

#contact {
    margin: 50px;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;

}

a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.2);
}

.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #007bff;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

form {
    margin-left: 10%;
}

#contact {
    margin-left: 50px;
    margin-bottom: 20px;
}
#contactw {
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 11pt;
}